
.container{
    width: 100%;
}
.content{
    width: 92%;
    margin: auto;
    box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.39);
    border-radius: 5px;
    padding: 10px 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.blog_image{
    width: 100%;
    height: 400px;
}
.blog_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog_detail{
    width: 100%;
    margin-top: 50px;
}
.blog_category{
    width: 100%;
    color: var(--cl);
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.blog_title{
    margin-top: 10px;
    font-size: 16px;
}
.create_by_detail{
    width: 100%;
    display: flex;
    justify-content: left;
    color: gray;
    gap: 10px;
    font-size: 12px;
    margin-top: 10px;

}

.bd{
    height: 2px;
    width: 100%;
    background-color: var(--cl);
    opacity: .5;
    margin: 50px 0;
}
.blog_discription{
    font-size: 16px;
    color: #7A7A7A;
    margin-top: 10px;
    line-height: 30px;
}

.comment_all{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.comment_by_image{
    width: 40px;
    height: 40px;
}
.comment_by_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    min-width: 40px;

}
.comment_area{
flex-grow: 1;
margin-left: 10px;
}
.comment_by_nam{
    font-size: 12px;
    margin-top: 3px;
}
.comment_by_nam h3::first-letter{
    text-transform: capitalize;
}
.comment{
    font-size: 11px;
}

#comment_section{
    width: 100%;
}
#comment_section input{
    width: 100%;
}

