{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
      <link rel="stylesheet" href="{% static 'css/contact.css' %}">
      <link rel="stylesheet" href="{% static 'css/common.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
       {% include "common.html" %}
</head>

<body>
    <div class="container">
        <div class="content">

            <div class="left_side">
                <h2>SEND MESSAGE</h2>
                <div class="left_side_content">
                    <div>
                        <input type="text" value="{{user.username}}" placeholder="Full Name">
                    </div>
                    <div>
                        <input type="text" placeholder="User Name">
                    </div>
                    <div id="email">
                        <input type="email" name="" value="{{user.email}}" placeholder="Email Id" id="">
                    </div>
                    <div id="textarea">
                        <textarea name="" rows="10" placeholder="Ask anything...." id=""></textarea>
                    </div>
                    <div class="btn">
                        <button>Send</button>
                    </div>
                </div>
            </div>
            <div class="right_side">
                <h2>CONACT INFORMATION</h2>
                <div class="right_side_content">
                    <div>
                        <p>+91 923423423</p>
                    </div>
                    <div>
                        <p>sachinshah@gmail.com</p>
                    </div>
                    <div>
                        A/999 Block, Nagar Delhi - 110081
                    </div>
                </div>
            </div>
        </div>

       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13995.698385205354!2d77.10613074155376!3d28.7217993775848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0145ce6a958f%3A0x32d4c5479e934770!2sSwarn%20Jayanti%20Park%2C%20Sector%2010%2C%20Rohini%2C%20Delhi%2C%20110085!5e0!3m2!1sen!2sin!4v1752248773924!5m2!1sen!2sin" width="100%"  height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

 {% include "footer.html" %}
    </div>
</body>

</html>