
        <footer>
            <div class="footer" id="footer">
                <div>
                    <h2>Action</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/create">Create</a></li>
                    </ul>
                </div>

                <div>
                    <h2>Account</h2>
                    <ul>
                        <li><a href="/signin">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </div>
                <div>
                    <h2>Info</h2>
                    <ul>
                        <li><a href="/blog">Check Blog</a></li>
                        <li><a href="/">Recent Post</a></li>
                    </ul>
                </div>

                <div>
                    <h2>Contact</h2>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/sachin-shah-8299a92ab/">LinkedIn</a></li>
                        <li><a href="https://www.linkedin.com/in/sachin-shah-8299a92ab/">Instagram</a></li>
                    </ul>
                </div>
            </div>

            <div id="foot">
                <span>
                    <p>CREATE BY <b>SACHIN SHAH</b></p>
                    <p>© | Copyright 2025 All Rights Reserved</p>
                </span>
            </div>

        </footer>